services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: .docker/start.sh
    stop_signal: SIGKILL
    stdin_open: true
    tty: true
    volumes:
      - .:/home/node/app
    ports:
      - 3000:3000
    extra_hosts:
      - host.docker.internal:host-gateway
